<section class="about">
    <div class="about__body">
        <div class="about__body-text">
            <h2>О нас</h2>
            <p>
                <span>С 2012 года Bubble Mania стала крупнейшим поставщиком ингредиентов для Bubble Tea
                    в России и СНГ.</span>
                <br><br>
                С тех пор напиток Bubble Tea плотно ассоциируется с Bubble Mania, ведь мы не только создали рынок этого напитка, но и, благодаря нашей миссии по сохранению традиций его приготовления, по-прежнему предлагаем нашим гостям настоящий Bubble Tea из Тайваня – именно такой, каким его создали на родине и как его оценили во всём мире.
            </p>
        </div>
        <div class="about__body-bubble">
            <div class="about__body-bubble-big">
                <img src="../images/dist/big.webp" alt="">
                <span>2012</span>
                <p>В России открылась первая чайная станция Bubble Tea – это была Bubble Mania</p>
            </div>
            <div class="about__body-bubble-low">
                <img src="../images/dist/low.webp" alt="">
                <span>2014</span>
            </div>
            <div class="about__body-bubble-low">
                <img src="../images/dist/low.webp" alt="">
                <span>2023</span>
            </div>
            <div class="about__body-bubble-low">
                <img src="../images/dist/low.webp" alt="">
                <span>2015</span>
            </div>
            <div class="about__body-bubble-low">
                <img src="../images/dist/low.webp" alt="">
                <span>2021</span>
            </div>
            <div class="about__body-bubble-low">
                <img src="../images/dist/low.webp" alt="">
                <span>2019</span>
            </div>
            <div class="about__body-bubble-low">
                <img src="../images/dist/low.webp" alt="">
                <span>2025</span>
            </div>
            <div class="about__body-bubble-medium">
                <img src="../images/dist/medium.webp" alt="">
                <span>2017</span>
            </div>
            <div class="about__body-bubble-medium">
                <img src="../images/dist/medium.webp" alt="">
                <span>2020</span>
            </div>
            <div class="about__body-bubble-medium">
                <img src="../images/dist/medium.webp" alt="">
                <span>2013</span>
            </div>
            <div class="about__body-bubble-medium">
                <img src="../images/dist/medium.webp" alt="">
                <span>2024</span>
            </div>
            <div class="about__body-bubble-medium">
                <img src="../images/dist/medium.webp" alt="">
                <span>2016</span>
            </div>
            <div class="about__body-bubble-medium">
                <img src="../images/dist/medium.webp" alt="">
                <span>2022</span>
            </div>
            <div class="about__body-bubble-sobig">
                <img src="../images/dist/low.webp" alt="">
                <span>2018</span>
                <p>Ребрендинг</p>
            </div>
        </div>
        <img src="../images/dist/low.webp" alt="" class="about__body-circle pink__bubble">
        <img src="../images/dist/low.webp" alt="" class="about__body-circle pink__bubble">
        <img src="../images/dist/low.webp" alt="" class="about__body-circle pink__bubble">
        <img src="../images/dist/low.webp" alt="" class="about__body-circle pink__bubble">
        <img class="about__body-circle green__bubble" src="../images/dist/medium.webp" alt="">
        <img class="about__body-circle green__bubble" src="../images/dist/medium.webp" alt="">
        <img class="about__body-circle green__bubble" src="../images/dist/medium.webp" alt="">
    </div>
</section>