<section id="catalog" class="catalog mt-0">
    <div class="catalog__body desk">
        <h2>Меню</h2>
        <div class="catalog__body-nav">
            <span class="catalog__body-nav-dot active" data-index="0"></span>
            <span class="catalog__body-nav-dot" data-index="1"></span>
            <span class="catalog__body-nav-dot" data-index="2"></span>
            <span class="catalog__body-nav-dot" data-index="3"></span>
        </div>
        <div class="catalog__body-nav-text">
            <span>2</span>
            <p>/</p>
            <p class="all"></p>
        </div>
        <div class="catalog__body-item catalog__item first">
            <img src="../images/dist/1.webp" alt="">
            <div class="catalog__body-item-text">
                <h3>Фруктовый <br> Bubble Tea</h3>
                <div class="catalog__body-item-text-wrap">
                    <div>
                        <span>Основа:</span>
                        <p>Чай (зеленый, черный, Улун) <br>
                            Натуральные фруктовые сиропы Premium</p>
                    </div>
                    <div>
                        <span>Топпинги:</span>
                        <p>Джус-боллы и Тапиока</p>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="catalog__body-item catalog__item second">
            <img src="../images/dist/2.webp" alt="">
            <div class="catalog__body-item-text">
                <h3>Молочный <br>
                    Bubble Tea</h3>
                <div class="catalog__body-item-text-wrap">
                    <div>
                        <span>Основа:</span>
                        <p>Высококачественная молочно- <br>сливочная основа
                            Чай <br>
                            Вкусовые добавки на молочной основе Premium</p>
                    </div>
                    <div>
                        <span>Топпинги:</span>
                        <p>Джус-боллы и Тапиока</p>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="catalog__body-item catalog__item third">
            <img src="../images/dist/3.webp" alt="">
            <div class="catalog__body-item-text">
                <h3>Фруктовый <br>
                    Bubble Йогурт</h3>
                <div class="catalog__body-item-text-wrap">
                    <div>
                        <span>Основа:</span>
                        <p>Сироп йогурт Premium <br>
                            Натуральные фруктовые сиропы Premium</p>
                    </div>
                    <div>
                        <span>Топпинги:</span>
                        <p>Джус-боллы и Тапиока</p>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="catalog__body-item catalog__item fourth">
            <img src="../images/dist/4.webp" alt="">
            <div class="catalog__body-item-text">
                <h3>Bubble <br>
                    Кофе</h3>
                <div class="catalog__body-item-text-wrap">
                    <div>
                        <span>Основа:</span>
                        <p>Натуральный кофе <br>
                            Высококачественная молочно-сливочная основа <br>
                            Карамель Tiger Dot Premium</p>
                    </div>
                    <div>
                        <span>Топпинги:</span>
                        <p>Джус-боллы и Тапиока</p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <div class="splide mob catalog__slider" role="group" aria-label="Splide Basic HTML Example">
        <h2>Меню</h2>
        <div class="catalog__slider-nav">
            <span>1</span>
            <p>/</p>
            <p class="all"></p>
        </div>
        <div class="splide__arrows">
            <button class="splide__arrow splide__arrow--prev">
                <svg width="15" height="12" viewBox="0 0 15 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M14.5303 6.53033C14.8232 6.23744 14.8232 5.76256 14.5303 5.46967L9.75736 0.696698C9.46447 0.403805 8.98959 0.403805 8.6967 0.696698C8.40381 0.989592 8.40381 1.46447 8.6967 1.75736L12.9393 6L8.6967 10.2426C8.40381 10.5355 8.40381 11.0104 8.6967 11.3033C8.98959 11.5962 9.46447 11.5962 9.75736 11.3033L14.5303 6.53033ZM6.5567e-08 6.75L14 6.75L14 5.25L-6.5567e-08 5.25L6.5567e-08 6.75Z" fill="white"/>
                </svg>                        
            </button>
            <button class="splide__arrow splide__arrow--next">
                <svg width="15" height="12" viewBox="0 0 15 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M14.5303 6.53033C14.8232 6.23744 14.8232 5.76256 14.5303 5.46967L9.75736 0.696698C9.46447 0.403805 8.98959 0.403805 8.6967 0.696698C8.40381 0.989592 8.40381 1.46447 8.6967 1.75736L12.9393 6L8.6967 10.2426C8.40381 10.5355 8.40381 11.0104 8.6967 11.3033C8.98959 11.5962 9.46447 11.5962 9.75736 11.3033L14.5303 6.53033ZM6.5567e-08 6.75L14 6.75L14 5.25L-6.5567e-08 5.25L6.5567e-08 6.75Z" fill="white"/>
                </svg>                        
            </button>
        </div>
        <div class="splide__track">
            <ul class="splide__list">
                <div class="catalog__body-item splide__slide">
                    <img src="../images/dist/catalog/1__mob.png" alt="">
                    <div class="catalog__body-item-text">
                        <h3>Фруктовый <br> Bubble Tea</h3>
                        <div class="catalog__body-item-text-wrap">
                            <div>
                                <span>Основа:</span>
                                <p>Чай (зеленый, черный, Улун) <br>
                                    Натуральные фруктовые сиропы Premium</p>
                            </div>
                            <div>
                                <span>Топпинги:</span>
                                <p>Джус-боллы и Тапиока</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="catalog__body-item splide__slide">
                    <img src="../images/dist/catalog/2__mob.png" alt="">
                    <div class="catalog__body-item-text">
                        <h3>Молочный <br>
                            Bubble Tea</h3>
                        <div class="catalog__body-item-text-wrap">
                            <div>
                                <span>Основа:</span>
                                <p>Высококачественная молочно- <br>сливочная основа
                                    Чай <br>
                                    Вкусовые добавки на молочной основе Premium</p>
                            </div>
                            <div>
                                <span>Топпинги:</span>
                                <p>Джус-боллы и Тапиока</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="catalog__body-item splide__slide">
                    <img src="../images/dist/catalog/3__mob.png" alt="">
                    <div class="catalog__body-item-text">
                        <h3>Фруктовый <br>
                            Bubble Йогурт</h3>
                        <div class="catalog__body-item-text-wrap">
                            <div>
                                <span>Основа:</span>
                                <p>Сироп йогурт Premium <br>
                                    Натуральные фруктовые сиропы Premium</p>
                            </div>
                            <div>
                                <span>Топпинги:</span>
                                <p>Джус-боллы и Тапиока</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="catalog__body-item splide__slide">
                    <img src="../images/dist/catalog/4__mob.png" alt="">
                    <div class="catalog__body-item-text">
                        <h3>Bubble <br>
                            Кофе</h3>
                        <div class="catalog__body-item-text-wrap">
                            <div>
                                <span>Основа:</span>
                                <p>Натуральный кофе <br>
                                    Высококачественная молочно-сливочная основа <br>
                                    Карамель Tiger Dot Premium</p>
                            </div>
                            <div>
                                <span>Топпинги:</span>
                                <p>Джус-боллы и Тапиока</p>
                            </div>
                        </div>
                    </div>
                </div>
            </ul>
        </div>
    </div>
</section>
<section class="constuct">
    <div class="container">
        <div class="constuct__body">
            <h2>Наш конструктор</h2>
            <img src="../images/dist/construct.png" alt="">
        </div>
    </div>
</section>