<section id="catalog" class="catalog">
    <div class="catalog__body">
        <h2>Меню</h2>
        <div class="catalog__body-nav">
            <span class="catalog__body-nav-dot active" data-index="0"></span>
            <span class="catalog__body-nav-dot" data-index="1"></span>
            <span class="catalog__body-nav-dot" data-index="2"></span>
            <span class="catalog__body-nav-dot" data-index="3"></span>
        </div>
        <div class="catalog__body-nav-text">
            <span>2</span>
            <p>/</p>
            <p class="all"></p>
        </div>
        <div class="catalog__body-item first">
            <img src="../images/dist/1.webp" alt="">
            <div class="catalog__body-item-text">
                <h3>Фруктовый <br> Bubble Tea</h3>
                <div class="catalog__body-item-text-wrap">
                    <div>
                        <span>Основа:</span>
                        <p>Чай (зеленый, черный, Улун) <br>
                            Натуральные фруктовые сиропы Premium</p>
                    </div>
                    <div>
                        <span>Топпинги:</span>
                        <p>Джус-боллы и Тапиока</p>
                    </div>
                </div>
            </div>
            <button>
                СОЗДАЙ СВОЙ БАББЛ
            </button>
        </div>
        <div class="catalog__body-item second">
            <img src="../images/dist/2.webp" alt="">
            <div class="catalog__body-item-text">
                <h3>Молочный <br>
                    Bubble Tea</h3>
                <div class="catalog__body-item-text-wrap">
                    <div>
                        <span>Основа:</span>
                        <p>Высококачественная молочно- <br>сливочная основа
                            Чай <br>
                            Вкусовые добавки на молочной основе Premium</p>
                    </div>
                    <div>
                        <span>Топпинги:</span>
                        <p>Джус-боллы и Тапиока</p>
                    </div>
                </div>
            </div>
            <button>
                СОЗДАЙ СВОЙ БАББЛ
            </button>
        </div>
        <div class="catalog__body-item third">
            <img src="../images/dist/3.webp" alt="">
            <div class="catalog__body-item-text">
                <h3>Фруктовый <br>
                    Bubble Йогурт</h3>
                <div class="catalog__body-item-text-wrap">
                    <div>
                        <span>Основа:</span>
                        <p>Сироп йогурт Premium <br>
                            Натуральные фруктовые сиропы Premium</p>
                    </div>
                    <div>
                        <span>Топпинги:</span>
                        <p>Джус-боллы и Тапиока</p>
                    </div>
                </div>
            </div>
            <button>
                СОЗДАЙ СВОЙ БАББЛ
            </button>
        </div>
        <div class="catalog__body-item fourth">
            <img src="../images/dist/4.webp" alt="">
            <div class="catalog__body-item-text">
                <h3>Bubble <br>
                    Кофе</h3>
                <div class="catalog__body-item-text-wrap">
                    <div>
                        <span>Основа:</span>
                        <p>Натуральный кофе <br>
                            Высококачественная молочно-сливочная основа <br>
                            Карамель Tiger Dot Premium</p>
                    </div>
                    <div>
                        <span>Топпинги:</span>
                        <p>Джус-боллы и Тапиока</p>
                    </div>
                </div>
            </div>
            <button>
                СОЗДАЙ СВОЙ БАББЛ
            </button>
        </div>
    </div>
</section>