<section class="contact mt-0">
    <img src="../images/dist/low.webp" class="contact__bubble pink__bubble" alt="">
    <img src="../images/dist/low.webp" class="contact__bubble pink__bubble" alt="">
    <img src="../images/dist/low.webp" class="contact__bubble pink__bubble" alt="">
    <img src="../images/dist/medium.webp" class="contact__bubble green__bubble" alt="">
    <img src="../images/dist/medium.webp" class="contact__bubble green__bubble" alt="">
    <img src="../images/dist/medium.webp" class="contact__bubble green__bubble" alt="">
    <img src="../images/dist/medium.webp" class="contact__bubble green__bubble" alt="">
    <div class="contact__body">
        <h1>Контакты</h1>
        <div class="contact__body-block">
            <div class="contact__body-block-info">
                <div class="contact__body-block-info-item">
                    <p>Номер горячей линии:</p>
                    <a href="">+7 (953) 443-43-32</a>
                </div>
                <div class="contact__body-block-info-item">
                    <p>Почта:</p>
                    <a href="">bubblemania@mail.ru</a>
                </div>
                <div class="contact__body-block-info-social">
                    <p>Соц.сети:</p>
                    <div>
                        <a href=""><img src="../images/dist/social/1.svg" alt=""></a>
                        <a href=""><img src="../images/dist/social/2.svg" alt=""></a>
                        <a href=""><img src="../images/dist/social/3.svg" alt=""></a>
                        <a href=""><img src="../images/dist/social/4.svg" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="contact__body-block-cart">
                <div id="map"></div>
                <ul class="address-list">
                    <li data-coords="60.007693, 30.259814"><span>Bubble Mania</span><p>Санкт-Петербург, ТРК Атмосфера</p></li>
                    <li data-coords="52.273141, 104.291640"><span>Bubble Mania</span><p>Иркутск, ТРК Модный квартал</p></li>
                    <li data-coords="59.911601, 30.447257"><span>Bubble Mania</span><p>Санкт-Петербург, ТРК Лондон Молл</p></li>
                    <li data-coords="55.794436, 49.107664"><span>Bubble Mania Кафе</span><p>Казань, ул. Баумана, 24</p></li>
                    <li data-coords="60.007693, 30.259814"><span>Bubble Mania</span><p>Санкт-Петербург, ТРК Атмосфера</p></li>
                    <li data-coords="52.273141, 104.291640"><span>Bubble Mania</span><p>Иркутск, ТРК Модный квартал</p></li>
                    <li data-coords="59.911601, 30.447257"><span>Bubble Mania</span><p>Санкт-Петербург, ТРК Лондон Молл</p></li>
                    <li data-coords="55.794436, 49.107664"><span>Bubble Mania Кафе</span><p>Казань, ул. Баумана, 24</p></li>
                </ul>
            </div>
        </div>
    </div>
</section>