
<div class="social desk">
    <div class="social__body">
        <div class="social__body-top">
            <span>Соц. сети</span>
            <button class="close__social">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M17.0711 17.0711L10 10M2.92893 2.92898L10 10M10 10L17.0711 2.92898L2.92893 17.0711" stroke="#F9F9F9" stroke-width="1.5"/>
                </svg>                
            </button>
        </div>
        <div class="social__body-bot">
            <a href="">
                <img src="../images/dist/main__social/1.png" alt="">
            </a>
            <a href="">
                <img src="../images/dist/main__social/2.png" alt="">
            </a>
            <a href="">
                <img src="../images/dist/main__social/3.png" alt="">
            </a>
            <a href="">
                <img src="../images/dist/main__social/4.png" alt="">
            </a>
        </div>
    </div>
    <button class="social__open">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M24 12L12 12M0 12H12M12 12V0L12 24" stroke="#F9F9F9"/>
        </svg>            
    </button>
</div>
<footer class="footer">
    <div class="footer__body">
        <div class="footer__body-start">
            <a href="/" class="footer__body-start-logo">
                <img class="desk" src="../images/dist/footer__logo.svg" alt="">
                <img class="mob" src="../images/dist/footer__logo-mob.svg" alt="">
            </a>
            <div class="footer__body-start-contact desk">
                <div>
                    <span>Номер горячей линии:</span>
                    <a href="tel:+79534434332">+7 (953) 443-43-32</a>
                </div>
                <div>
                    <span>Почта:</span>
                    <a href="mailto:bubblemania@mail.ru">bubblemania@mail.ru</a>
                </div>
            </div>
            <div class="footer__body-start-social desk">
                <a href="">
                    <img src="../images/dist/social/1.svg" alt="">
                </a>
                <a href="">
                    <img src="../images/dist/social/2.svg" alt="">
                </a>
                <a href="">
                    <img src="../images/dist/social/3.svg" alt="">
                </a>
                <a href="">
                    <img src="../images/dist/social/4.svg" alt="">
                </a>
            </div>
            <p class="footer__body-start-right desk">
                Все права защищены. <br>
                © 2012-2025, BUBBLEMANIA
            </p>
        </div>
        <nav class="footer__body-menu">
            <span class="desk">Инфо</span>
            <ul>
                <li>
                    <a href="">О нас</a>
                </li>
                <li>
                    <a href="">Франчайзинг</a>
                </li>
                <li>
                    <a href="">Меню</a>
                </li>
                <li>
                    <a href="">Акции</a>
                </li>
                <li>
                    <a href="">Наш мерч</a>
                </li>
            </ul>
        </nav>
        <div class="footer__body-address">
            <span class="name desk">Адреса</span>
            <div class="footer__body-address-wrap">
                <div>
                    <span>Bubble Mania</span>
                    <p>Санкт-Петербург, <br>
                        ТРК Атмосфера</p>
                </div>
                <div>
                    <span>Bubble Mania</span>
                    <p>Иркутск, <br>
                        ТРК Модный квартал</p>
                </div>
                <div>
                    <span>Bubble Mania</span>
                    <p>Санкт-Петербург, <br>
                        ТРК Лондон Молл</p>
                </div>
                <div>
                    <span>Bubble Mania Кафе</span>
                    <p>Казань, <br>
                        ул. Баумана, 24</p>
                </div>
            </div>
        </div>
        <div class="footer__body-start-contact mob">
            <div>
                <span>Горячая линия:</span>
                <a href="tel:+79534434332">+7 (953) 443-43-32</a>
            </div>
            <div>
                <span>Почта:</span>
                <a href="mailto:bubblemania@mail.ru">bubblemania@mail.ru</a>
            </div>
        </div>
        <div class="footer__body-feedback">
            <h3>Хотите стать парнером?</h3>
            <form action="">
                <input placeholder="Имя" type="text">
                <input placeholder="Телефон" type="tel">
                <input placeholder="Email" type="email">
                <input placeholder="Город" type="text">
                <button>
                    Заказать звонок
                </button>
            </form>
        </div>
        <p class="footer__body-start-right mob">
            Все права защищены. <br>
            © 2012-2025, BUBBLEMANIA
        </p>
        <img class="footer__body-img desk" src="../images/dist/footer__img.webp" alt="">
        <img class="footer__body-img mob" src="../images/dist/footer__img-mob.png" alt="">
    </div>
</footer>