<section class="franchising">
    <img class="pink__bubble" src="../images/dist/low.webp" alt="">
    <img class="pink__bubble" src="../images/dist/low.webp" alt="">
    <img class="pink__bubble" src="../images/dist/low.webp" alt="">
    <img class="pink__bubble" src="../images/dist/low.webp" alt="">
    <img src="../images/dist/medium.webp" alt="" class="green__bubble">
    <img src="../images/dist/medium.webp" alt="" class="green__bubble">
    <img src="../images/dist/medium.webp" alt="" class="green__bubble">
    <img src="../images/dist/medium.webp" alt="" class="green__bubble">
    <img src="../images/dist/medium.webp" alt="" class="green__bubble">
    <img class="pink__bubble" src="../images/dist/low.webp" alt="">
    <img class="pink__bubble" src="../images/dist/low.webp" alt="">
    <img class="pink__bubble" src="../images/dist/low.webp" alt="">
    <img class="pink__bubble" src="../images/dist/low.webp" alt="">
    <img class="pink__bubble" src="../images/dist/low.webp" alt="">
    <img class="pink__bubble" src="../images/dist/low.webp" alt="">
    <img src="../images/dist/medium.webp" alt="" class="green__bubble">
    <img src="../images/dist/medium.webp" alt="" class="green__bubble">
    <img src="../images/dist/medium.webp" alt="" class="green__bubble">
    <img src="../images/dist/medium.webp" alt="" class="green__bubble">
    <img src="../images/dist/medium.webp" alt="" class="green__bubble">
    <img src="../images/dist/medium.webp" alt="" class="green__bubble">
    <div class="franchising__top">
        <h2>Франчайзинг</h2>
        <!-- <div class="franchising__top-block">
            <div class="franchising__top-block-info">
                <p>
                    Станьте партнером – откройте прибыльную станцию Bubble Mania и станьте частью успешного и известного бренда – первого бренда Bubble Tea в России, который  за <span>более чем 12 лет работы показал эффективность финансовой модели и устойчивость ко всем кризисам!</span>
                </p>
                <div>
                    <span>Почему франшиза BUBBLEMANIA?</span>
                    <a href="">
                        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5 27L27 5" stroke="#F9F9F9" stroke-width="2.5" stroke-linejoin="round"/>
                            <path d="M5 5L27 5L27 27" stroke="#F9F9F9" stroke-width="2.5"/>
                        </svg>                        
                    </a>
                </div>
            </div>
            <form action="" class="franchising__top-block-call">
                <h3>Хотите стать парнером?</h3>
                <div class="franchising__top-block-call-wrap">
                    <input placeholder="Имя" type="text">
                    <input placeholder="Телефон" type="tel">
                    <input placeholder="Email" type="email">
                    <input placeholder="Город" type="text">
                </div>
                <button>Заказать звонок</button>
            </form>
        </div> -->
        <div class="franchising__top-text">
            <p>
                Станьте партнером – откройте прибыльную станцию Bubble Mania и станьте частью успешного
                и известного бренда – первого бренда Bubble Tea
                в России, который за <span>более чем 12 лет работы показал эффективность финансовой модели
                    и устойчивость ко всем кризисам!</span>
            </p>
            <img src="../images/dist/fran__img.png" alt="">
        </div>
    </div>
    <div class="franchising__desc">
        <h3>В 2024 году отмечается всплеск открытия чайных станций.</h3>
        <p>
            На фоне повышенного интереса к напитку, появляются новые заведения под названием «Bubble Tea». <br>
            Большинство участников рынка продвигают под этим названием собственный продукт, не имеющий отношения к
            натуральному Bubble Tea из Тайваня.
            <br><br>
            <span>К сожалению,</span> такие кафе используют для приготовления напитков отечественные ингредиенты или
            дешевые
            китайские компоненты, которые резко снижают качество продукции и оставляют негативное впечатление о Bubble
            Tea в целом
        </p>
        <h4>
            Наш 12-летний опыт тестирования ряда бизнес-моделей помог сформировать наилучшие условия, при которых 
            работа чайной станции имеет максимально быстрый рост с учетом сезонности
        </h4>
    </div>
    <div class="franchising__lists">
        <div class="franchising__lists-block">
            <div class="franchising__lists-block-item">
                <h3>Почему франшиза Bubble Mania ?</h3>
                <ul>
                    <li>Основатели Bubble Tea в России</li>
                    <li>Единственная успешная сеть Bubble Tea с 2012 года</li>
                    <li>Узнаваемый бренд</li>
                    <li>Растущая аудитория в соцсетях более 500 тыс. человек</li>
                    <li>Уникальный конструктор 1500+ вариаций Bubble Tea + ТОП-20 популярных напитков</li>
                    <li>Отсутствие готовки и скоропортящихся продуктов</li>
                    <li>100% качество за счет использования оригинальных Premium ингредиентов из Тайваня = повторные
                        покупки</li>
                    <li>Упаковка только успешных франшиз</li>
                </ul>
            </div>
            <div class="franchising__lists-block-item">
                <h3>Франшиза сети с опытом 1 - 2 года</h3>
                <ul>
                    <li>Нет опыта и серьезной статистики</li>
                    <li>Не известный бренд</li>
                    <li>Отсутствие популярности</li>
                    <li>Ограниченное количество напитков - нет потенциала для роста среднего чека</li>
                    <li>Дополнительные затраты без увеличения прибыли</li>
                    <li>Сомнительное качество за счет использования Китайских  и Российских компонентов</li>
                    <li>Уменьшают вероятность повторных покупок</li>
                    <li>Продажа франшиз любому кто платит</li>
                </ul>
            </div>
        </div>
        <div class="franchising__lists-main">
            <div class="franchising__lists-main-top">
                <span>Вот почему франшиза BUBBLEMANIA!</span>
                <button>
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M20 10H10M0 10H10M10 10V0V20" stroke="#F9F9F9" stroke-width="3" />
                    </svg>
                </button>
            </div>
            <p class="franchising__lists-main-bot">
                Нашим франчайзи уже более 10 лет – что является подтверждением эффективности нашей модели франчайзинга.
                Мы подберем для вашего города и локации рабочую и эффективную модель работы исходя из нашего 12-летнего
                опыта работы с партнерами по франчайзингу и опыта открытия собственных чайных станций
                <br><br>
                Предложим эффективную стратегию вложений/ инвестиций (мы не тратим деньги на не нужное) - мы бережем
                ваши деньги! <br>
                Большой банк собственных рекламных материалов и комплексная постоянная поддержка отдела маркетинга
            </p>
        </div>
    </div>
    <div class="franchising__bottom">
        <h3>Форматы чайных станций Bubble Mania</h3>
        <div class="franchising__bottom-block">
            <div class="franchising__bottom-block-item">
                <img src="../images/dist/fran/1.png" alt="">
                <p>Формат</p>
                <span>Фудтрак / павильон</span>
            </div>
            <div class="franchising__bottom-block-item">
                <img src="../images/dist/fran/2.png" alt="">
                <p>Формат</p>
                <span>Остров Bubble Mania</span>
            </div>
            <div class="franchising__bottom-block-item">
                <img src="../images/dist/fran/3.png" alt="">
                <p>Формат</p>
                <span>Кафе</span>
            </div>
            <div class="franchising__bottom-block-item">
                <img src="../images/dist/fran/4.png" alt="">
                <p>Формат</p>
                <span>Кафе в кафе</span>
            </div>
        </div>
    </div>
    <div class="franchising__soft">
        <div class="franchising__soft-lines">
            <div class="franchising__soft-lines-line">
                <p>Разработка дизайн-проекта торгового <br>
                    объекта в соответствии с брендбук</p>
                <p>Заказ оборудования у авторизованных <br>
                    производителей/поставщиков</p>
                <p>Технологические карты</p>
            </div>
            <div class="franchising__soft-lines-line">
                <p>Торжественное открытие<br>
                    с маркетинговой поддержкой</p>
                <p>Закупки и оптимизация <br>
                    бизнес-процессов</p>
                <p>Персональный менеджер</p>
                <p>Программное обеспечение</p>
            </div>
        </div>
        <div class="franchising__soft-feedback">
            <form action="" class="franchising__soft-feedback-form">
                <span>Хотите стать парнером?</span>
                <div class="franchising__soft-feedback-form-wrap">
                    <input placeholder="Имя" type="text">
                    <input placeholder="Телефон" type="tel">
                    <input placeholder="Email" type="email">
                    <input placeholder="Город" type="text">
                </div>
                <button>
                    Заказать звонок
                </button>
            </form>
            <img src="../images/dist/fran__girl.webp" alt="">
        </div>
    </div>
</section>