<section class="merch">
    <img src="../images/dist/low.webp" alt="" class="merch__bubble pink__bubble">
    <img src="../images/dist/low.webp" alt="" class="merch__bubble pink__bubble">
    <img src="../images/dist/medium.webp" alt="" class="merch__bubble green__bubble">
    <img src="../images/dist/medium.webp" alt="" class="merch__bubble green__bubble">
    <div class="merch__modal">
        <div class="merch__modal-body">
            <div class="merch__modal-body-top">
                <span>Предварительный заказ</span>
                <button class="close__merch">
                    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="16" cy="16" r="15" stroke="white" stroke-width="2"/>
                        <path d="M9.88184 10.0078L21.8187 21.9447" stroke="white" stroke-width="2"/>
                        <path d="M21.9443 10.0078L10.0075 21.9447" stroke="white" stroke-width="2"/>
                    </svg>                        
                </button>
            </div>
            <form action="" class="merch__modal-body-form">
                <input placeholder="Имя" type="text">
                <input placeholder="Телефон" type="tel">
                <input placeholder="Город" type="Город">
                <button>
                    Забронировать вещь
                </button>
            </form>
        </div>
    </div>
    <div class="merch__body">
        <div class="merch__body-top">
            <h2>Наш мерч</h2>
            <p>Ищите наш мерч на станциях Bubble Mania</p>
        </div>
        <h3>Успей приобрести мерч из лимитированной коллекции!</h3>
        <div class="merch__body-block">
            <div class="merch__body-block-main">
                <img src="../images/dist/me__main.webp" alt="">
            </div>
            <div class="merch__body-block-slide">
                <div class="splide merch__slider merch__slider-main" role="group" aria-label="Splide Basic HTML Example">
                    <div class="splide__arrows">
                        <button class="splide__arrow splide__arrow--prev">
                            <svg width="11" height="12" viewBox="0 0 11 12" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 5.95974H10M10 5.95974L5.07463 1M10 5.95974L5.07463 11" stroke="#F9F9F9" />
                            </svg>
                        </button>
                        <button class="splide__arrow splide__arrow--next">
                            <svg width="11" height="12" viewBox="0 0 11 12" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 5.95974H10M10 5.95974L5.07463 1M10 5.95974L5.07463 11" stroke="#F9F9F9" />
                            </svg>
                        </button>
                    </div>
                    <div class="splide__track">
                        <ul class="splide__list">
                            <li class="splide__slide">
                                <img src="../images/dist/me__slide.webp" alt="">
                            </li>
                            <li class="splide__slide">
                                <img src="../images/dist/main/1.png" alt="">
                            </li>
                            <li class="splide__slide">
                                <img src="../images/dist/main/2.png" alt="">
                            </li>
                            <li class="splide__slide">
                                <img src="../images/dist/main/3.png" alt="">
                            </li>
                            <li class="splide__slide">
                                <img src="../images/dist/main/4.png" alt="">
                            </li>
                            <li class="splide__slide">
                                <img src="../images/dist/main/5.png" alt="">
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="merch__body-block-slide-info">
                    <span class="name">Толстовка Bubble Mania</span>
                    <p>Черный цвет, оверсайз</p>
                    <div class="price">4000 ₽</div>
                </div>
                <button class="open__merch">
                    Предварительный заказ
                </button>
            </div>

            <div class="merch__body-block-slide">
                <div class="splide merch__slider merch__slider-soft" role="group" aria-label="Splide Basic HTML Example">
                    <div class="splide__arrows">
                        <button class="splide__arrow splide__arrow--prev">
                            <svg width="11" height="12" viewBox="0 0 11 12" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 5.95974H10M10 5.95974L5.07463 1M10 5.95974L5.07463 11" stroke="#F9F9F9" />
                            </svg>
                        </button>
                        <button class="splide__arrow splide__arrow--next">
                            <svg width="11" height="12" viewBox="0 0 11 12" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 5.95974H10M10 5.95974L5.07463 1M10 5.95974L5.07463 11" stroke="#F9F9F9" />
                            </svg>
                        </button>
                    </div>
                    <div class="splide__track">
                        <ul class="splide__list">
                            <li class="splide__slide">
                                <img src="../images/dist/me__soft.webp" alt="">
                            </li>
                            <li class="splide__slide">
                                <img src="../images/dist/soft/1.png" alt="">
                            </li>
                            <li class="splide__slide">
                                <img src="../images/dist/soft/2.png" alt="">
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="merch__body-block-slide-info">
                    <span class="name">Толстовка Bubble Mania</span>
                    <p>Черный цвет, оверсайз</p>
                    <div class="price">4000 ₽</div>
                </div>
                <button class="open__merch">
                    Предварительный заказ
                </button>
            </div>
        </div>
    </div>
</section>
