<section class="reviews">
    <div class="reviews__wrap">
        <video autoplay loop>
            <source src="../images/dist/video/1.mp4" type="video/mp4">
        </video>
    </div>
    <div class="reviews__wrap">
        <video autoplay loop>
            <source src="../images/dist/video/2.mp4" type="video/mp4">
        </video>
    </div>
    <div class="reviews__wrap">
        <video autoplay loop >
            <source src="../images/dist/video/3.mp4" type="video/mp4">
        </video>
    </div>
    <div class="reviews__wrap">
        <video autoplay loop >
            <source src="../images/dist/video/4.mp4" type="video/mp4">
        </video>
    </div>
    <img src="../images/dist/medium.webp" alt="" class="green__bubble">
    <img src="../images/dist/medium.webp" alt="" class="green__bubble">
    <img src="../images/dist/medium.webp" alt="" class="green__bubble">
    <img src="../images/dist/medium.webp" alt="" class="green__bubble">
    <img src="../images/dist/low.webp" alt="" class="pink__bubble">
    <img src="../images/dist/low.webp" alt="" class="pink__bubble">
    <img src="../images/dist/low.webp" alt="" class="pink__bubble">
    <img src="../images/dist/low.webp" alt="" class="pink__bubble">
    <img src="../images/dist/medium.webp" alt="" class="green__bubble mob">
    <h3>
        Bubble Tea = Bubble Mania,  что подтверждает самая большая аудитория в социальных сетях – более 500 тысяч человек.
    </h3>
</section>