<section class="sale mt-0">
    <img src="../images/dist/low.webp" alt="" class="sale__bubble pink__bubble">
    <img src="../images/dist/low.webp" alt="" class="sale__bubble pink__bubble">
    <img src="../images/dist/low.webp" alt="" class="sale__bubble pink__bubble">
    <img src="../images/dist/medium.webp" alt="" class="sale__bubble green__bubble">
    <img src="../images/dist/medium.webp" alt="" class="sale__bubble green__bubble">
    <img src="../images/dist/medium.webp" alt="" class="sale__bubble green__bubble">
    <div class="sale__body">
        <h2>Действующие акции</h2>
        <div class="sale__body-block">
            <div class="sale__body-block-item">
                <img src="../images/dist/sale/2.png" alt="">
                <span>Второй топпинг <br>
                    беспланый</span>
                <a href="">
                    Подробнее
                </a>
            </div>
        </div>
        <h2>Прошлые акции</h2>
        <div class="sale__body-block">
            <div class="sale__body-block-item">
                <img src="../images/dist/sale/3.png" alt="">
                <span>Конкурс на лучший рисунок!</span>
                <a href="">
                    Подробнее
                </a>
            </div>
        </div>
    </div>
</section>