<section class="sale mt-0">
    <img src="../images/dist/low.webp" alt="" class="sale__bubble pink__bubble">
    <img src="../images/dist/low.webp" alt="" class="sale__bubble pink__bubble">
    <img src="../images/dist/low.webp" alt="" class="sale__bubble pink__bubble">
    <img src="../images/dist/medium.webp" alt="" class="sale__bubble green__bubble">
    <img src="../images/dist/medium.webp" alt="" class="sale__bubble green__bubble">
    <img src="../images/dist/medium.webp" alt="" class="sale__bubble green__bubble">
    <div class="sale__body">
        <h2>Действующие акции</h2>
        <div class="sale__body-block">
            <div class="sale__body-block-item">
                <img src="../images/dist/sale/2.png" alt="">
                <span>Второй топпинг <br>
                    беспланый</span>
                <button class="open__merch">
                    Подробнее
                </button>
                <div class="sale__body-block-item-modal">
                    <div class="sale__body-block-item-modal-body">
                        <div class="sale__body-block-item-modal-body-top">
                            <span>Второй топпинг бесплатно</span>
                            <button class="close__sale">
                                <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="16" cy="16" r="15" stroke="#F9F9F9" stroke-width="2"/>
                                    <path d="M9.88184 10.0078L21.8187 21.9447" stroke="#F9F9F9" stroke-width="2"/>
                                    <path d="M21.9443 10.0078L10.0075 21.9447" stroke="#F9F9F9" stroke-width="2"/>
                                </svg>                                        
                            </button>
                        </div>
                        <div class="sale__body-block-item-modal-body-info">
                            <img src="../images/dist/sale__modal.png" alt="">
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste nostrum fugit delectus ad tempora aut quibusdam libero, consectetur ut debitis. Aliquam, quod nam minus atque dicta iure quae qui incidunt?
                                Error iste obcaecati, sapiente repellat explicabo quas rerum dolor et aperiam harum, corporis distinctio pariatur? Necessitatibus tenetur, atque perspiciatis consequuntur quod ab officiis distinctio voluptate minus saepe laudantium repellat. Ipsam!
                                Voluptatem neque omnis accusantium unde fugit temporibus, rerum ipsum dolore id mollitia excepturi necessitatibus magni distinctio cumque obcaecati optio quasi deserunt architecto ut. Illum dolorum praesentium labore, ab deserunt laborum.
                                Harum ad rem delectus. At amet ratione, dolorum voluptates quam recusandae nobis ut nulla sequi molestias, labore, facilis commodi dolorem quidem nam ex? Adipisci deserunt voluptatum beatae aperiam minima necessitatibus.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h2>Прошлые акции</h2>
        <div class="sale__body-block">
            <div class="sale__body-block-item">
                <img src="../images/dist/sale/3.png" alt="">
                <span>Конкурс на лучший рисунок!</span>
                <button class="open__merch">
                    Подробнее
                </button>
                <div class="sale__body-block-item-modal">
                    <div class="sale__body-block-item-modal-body">
                        <div class="sale__body-block-item-modal-body-top">
                            <span>Конкурс на лучший рисунок!</span>
                            <button class="close__sale">
                                <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="16" cy="16" r="15" stroke="#F9F9F9" stroke-width="2"/>
                                    <path d="M9.88184 10.0078L21.8187 21.9447" stroke="#F9F9F9" stroke-width="2"/>
                                    <path d="M21.9443 10.0078L10.0075 21.9447" stroke="#F9F9F9" stroke-width="2"/>
                                </svg>                                        
                            </button>
                        </div>
                        <div class="sale__body-block-item-modal-body-info">
                            <img src="../images/dist/sale__modal2.png" alt="">
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste nostrum fugit delectus ad tempora aut quibusdam libero, consectetur ut debitis. Aliquam, quod nam minus atque dicta iure quae qui incidunt?
                                Error iste obcaecati, sapiente repellat explicabo quas rerum dolor et aperiam harum, corporis distinctio pariatur? Necessitatibus tenetur, atque perspiciatis consequuntur quod ab officiis distinctio voluptate minus saepe laudantium repellat. Ipsam!
                                Voluptatem neque omnis accusantium unde fugit temporibus, rerum ipsum dolore id mollitia excepturi necessitatibus magni distinctio cumque obcaecati optio quasi deserunt architecto ut. Illum dolorum praesentium labore, ab deserunt laborum.
                                Harum ad rem delectus. At amet ratione, dolorum voluptates quam recusandae nobis ut nulla sequi molestias, labore, facilis commodi dolorem quidem nam ex? Adipisci deserunt voluptatum beatae aperiam minima necessitatibus.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>