<section class="station">
    <img class="pink__bubble" src="../images/dist/low.webp" alt="">
    <img class="pink__bubble" src="../images/dist/low.webp" alt="">
    <img class="pink__bubble" src="../images/dist/low.webp" alt="">
    <img class="pink__bubble" src="../images/dist/low.webp" alt="">
    <img class="pink__bubble" src="../images/dist/low.webp" alt="">
    <img class="pink__bubble" src="../images/dist/low.webp" alt="">
    <img src="../images/dist/medium.webp" alt="" class="green__bubble">
    <img src="../images/dist/medium.webp" alt="" class="green__bubble">
    <img src="../images/dist/medium.webp" alt="" class="green__bubble">
    <img src="../images/dist/medium.webp" alt="" class="green__bubble">
    <div class="station__top">
        <h3>За прошедшие годы было открыто 34 чайные станции
            Bubble Mania во многих городах России и ближнего зарубежья:</h3>
        <div class="station__top-lines">
            <div class="station__top-lines-line one__line">
                <div class="station__top-lines-line-item">
                    <p>8 станций</p>
                    <span>Санкт-Петербург</span>
                </div>
                <div class="station__top-lines-line-item">
                    <p>7 станций</p>
                    <span>Москва</span>
                </div>
                <div class="station__top-lines-line-item">
                    <p>2 станции</p>
                    <span>Иркутск</span>
                </div>
                <div class="station__top-lines-line-item">
                    <p>2 станции</p>
                    <span>Уфа</span>
                </div>
                <div class="station__top-lines-line-item">
                    <p>2 станции</p>
                    <span>Алматы</span>
                </div>
                <div class="station__top-lines-line-item">
                    <p>2 станции</p>
                    <span>Калининград</span>
                </div>
                <div class="station__top-lines-line-item">
                    <p>2 станции</p>
                    <span>Благовещенск</span>
                </div>
                <div class="station__top-lines-line-item">
                    <p>2 станции</p>
                    <span>Тюмень</span>
                </div>
                <div class="station__top-lines-line-item">
                    <p>2 станции</p>
                    <span>Батуми</span>
                </div>
                <div class="station__top-lines-line-item">
                    <p>1 станция</p>
                    <span>Новосибирск</span>
                </div>
                <div class="station__top-lines-line-item">
                    <p>1 станция</p>
                    <span>Мурманск</span>
                </div>
                <div class="station__top-lines-line-item">
                    <p>1 станция</p>
                    <span>Казань</span>
                </div>
                <div class="station__top-lines-line-item">
                    <p>1 станция</p>
                    <span>Архангельск</span>
                </div>
                <div class="station__top-lines-line-item">
                    <p>1 станция</p>
                    <span>Московская область</span>
                </div>
            </div>
            <div class="station__top-lines-line two__line">
                <div class="station__top-lines-line-item">
                    <p>8 станций</p>
                    <span>Санкт-Петербург</span>
                </div>
                <div class="station__top-lines-line-item">
                    <p>7 станций</p>
                    <span>Москва</span>
                </div>
                <div class="station__top-lines-line-item">
                    <p>2 станции</p>
                    <span>Иркутск</span>
                </div>
                <div class="station__top-lines-line-item">
                    <p>2 станции</p>
                    <span>Уфа</span>
                </div>
                <div class="station__top-lines-line-item">
                    <p>2 станции</p>
                    <span>Алматы</span>
                </div>
                <div class="station__top-lines-line-item">
                    <p>2 станции</p>
                    <span>Калининград</span>
                </div>
                <div class="station__top-lines-line-item">
                    <p>2 станции</p>
                    <span>Благовещенск</span>
                </div>
                <div class="station__top-lines-line-item">
                    <p>2 станции</p>
                    <span>Тюмень</span>
                </div>
                <div class="station__top-lines-line-item">
                    <p>2 станции</p>
                    <span>Батуми</span>
                </div>
                <div class="station__top-lines-line-item">
                    <p>1 станция</p>
                    <span>Новосибирск</span>
                </div>
                <div class="station__top-lines-line-item">
                    <p>1 станция</p>
                    <span>Мурманск</span>
                </div>
                <div class="station__top-lines-line-item">
                    <p>1 станция</p>
                    <span>Казань</span>
                </div>
                <div class="station__top-lines-line-item">
                    <p>1 станция</p>
                    <span>Архангельск</span>
                </div>
                <div class="station__top-lines-line-item">
                    <p>1 станция</p>
                    <span>Московская область</span>
                </div>
            </div>
        </div>
        <div class="station__top-block">
            <p>
                За прошедшие годы сфера общепита и рынок Bubble Tea затронули три волны кризиса, последнюю из которых,
                связанную с ковидными ограничениями, <span>благополучно пережила только наша компания.</span>
                <br><br>
                Мы протестировали все возможные форматы работы от больших кафе в центре многомиллионных городов до
                островков в ТЦ
                и фудтраков и торговых уличных павильонов и <span>вывели идеальную формулу успеха для нас и наших партнеров.</span>
                <br><br>
                Мы непрерывно совершенствуем наши бизнес-процессы, актуализируем и меняем дизайн наших заведений,
                вовлекаем сотни тысяч молодых людей через соцсети и <span>вместе создаем культуру Bubble Tea в России.</span>
            </p>
            <img src="../images/dist/station.webp" alt="">
        </div>
    </div>
    <div class="station__bottom">
        <h3>По настоящее время действуют наши самые успешные кафе и чайные станции:</h3>
        <div class="station__bottom-block">
            <div class="station__bottom-block-item">
                <img src="../images/dist/station/1.png" alt="">
                <p class="desc">С 2012 года</p>
                <div class="text">
                    <span>Bubble Mania</span>
                    <p>Санкт-Петербург, ТРК Атмосфера</p>
                </div>
            </div>
            <div class="station__bottom-block-item">
                <img src="../images/dist/station/2.png" alt="">
                <p class="desc">С 2013 года</p>
                <div class="text">
                    <span>Bubble Mania</span>
                    <p>Иркутск, ТРК Модный квартал</p>
                </div>
            </div>
            <div class="station__bottom-block-item">
                <img src="../images/dist/station/3.png" alt="">
                <p class="desc">С 2014 года</p>
                <div class="text">
                    <span>Bubble Mania Кафе</span>
                    <p>Казань, ул. Баумана, 24</p>
                </div>
            </div>
        </div>
        <p class="caption">
            Многие годы успешной работы наших кафе подтверждают <span>успешность и устойчивость бизнес-модели Bubble
                Mania</span>
        </p>
    </div>
</section>